{%extends 'base.html'%}
{% block body%}


<div class="container bg-info h1">Admin Page</div>
    
<div class="container-fluid d-flex justify-content-end">
    <div class="mr-1">Hello {{email}}  |</div>
    <a href="{% url 'admin_logout' %}">  Logout</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Booking Date</th>
            <th>Booking Start Time</th>
            <th>Booking End Time</th>
            <th>Customer Details</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Yet To Come</td>
        </tr>
    </tbody>
</table>

    

{%endblock%}